{% extends "base.html.twig" %}

{% block body %}

    <a href="{{ path("app_post") }}">Revenir aux posts</a>
    <h1>{{ post.titre }}</h1>
    <img src="{{ vich_uploader_asset(post) }}" class="card-img-top" alt="{{ post.image }}">
    {{ post.contenu | raw }}

    <section class="com m-5">

        {% if app.user is defined and app.user is not null %}
            {% for comment in post.comments %}
                <p>{{ comment.subject }}</p>
                <p>{{ comment.content }}</p>
                <div class="d-flex align-items-center gap-2">
                    <span>{{ likes }}</span>
                    <a href="/posts/{{ post.id }}-{{ post.slug }}/like/true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg></a>
                    <span>{{ likes }}</span>
                    <a href="/posts/{{ post.id }}-{{ post.slug }}/like/false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg></a>
                </div>
            {% endfor %}

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn bg-primary text-light">Commenter</button>
        {% else %}
            <a href="{{ path("app_login") }}">Connectez-vous pour commenter</a>
        {% endif %}
    </section>

{% endblock %}